* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    height: 100px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
}

.logo h1 {
    color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 200px;
}

.logo span {
    color: rgb(249, 245, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: left;
    width: 200px;
}

nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 25px;

    a {
        text-decoration: none;
    }

    color: white;
    font-size: 12px;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}

.header nav span {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 25px;
    color: white;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnsignIn {
    height: 40px;
    width: 100px;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    border-top: 0;
    border-left: 0;
}

.btnGetStarted {
    height: 40px;
    width: 120px;
    background-color: crimson;
    color: white;
    border-radius: 20px;
    border-top: 0;
    border-left: 0;
    justify-content: left;

}
li {
    a {  color: white} ;
}
.content {
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    height: 300px;
    width: 40%;
    text-align: center;
}

.text h1 {
    color: rgb(249, 245, 246);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

.text span {
    color: rgb(235, 14, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
}

img {
    height: 550px;
    width: 55%;
}

.image {
    height: 550px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width : 480px) {


    .header {
        height: 150px;
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: 23px;
        width: 100%;

    }

    .header h1 {
        width: 100%;
    }

    li {
        a {  color: white} ;
    }

    .header nav {
        width: 100%;
        font-size: 8px;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header nav span {
        width: 100%;
        font-size: 12px;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .btnsignIn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        flex-direction: column;
        width: 100%;
        /* margin: 32px; */
        /* gap: 10px; */
    }

    .text {
        height: 100px;
        width: 100%;
    }

    .text h1 {
        height: 50px;
        width: 100%;
        font-size: 25px;
    }

    .text span {
        height: 100px;
        width: 50%;
        font-size: 25px;
    }

    img {
        height: 225px;
        width: 100%;
    }

    .image {
        height: 225px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text p{
        font-size: 12px;
    }
    .btnsignIn{
        width: 112px;
        height: 27px;
    }
    .btnGetStarted{
        width: 114px;
        height: 27px;
    }
    li{
        height: 1px;

    }
}

@media screen and (min-width:480px) and (max-width:768px) {

    .content {
        height: 450px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .text {
        margin: 20px;
    }

    .text h1 {
        width: 125%;
        font-size: 25px;
    }
    li {
        a {  color: white} ;
    }
    .text span {
        width: 125%;
        font-size: 25px;
    }

    .text p {
        font-size: 15px;
        width: 150%;
    }

    img {
        height: 400px;
        width: 80%;
    }

}